@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cor-background);
  color: var(--cor-texto);
  box-sizing: border-box;
}

.cabecalho__lista {
  width: 100%;
  display: flex;
  gap: 80px;
  padding: 2% 15%;
}

.cabecalho__item__lista {
  font-family: "Montserrat", sans-serif;
  color: var(--cor-terciaria);
  font-weight: bold;
  font-size: 1.5rem;
}

.apresentacao {
  gap: 82px;
  padding: 4% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo p {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
}

.destaqueTitulo {
  color: var(--cor-terciaria);
}

.apresentacao__links {
  align-items: center;
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.apresentacao__links__titulo {
  font-size: 1.5rem;
  font-family: "Krona One", sans-serif;
  font-weight: 4000;
}

.botoesEstilo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  text-align: center;
  width: 60%;
  padding: 21.5px 0px;
  border-radius: 8px;
  color: var(--cor-texto);
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.botoesEstilo:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
}

.imagem__Principal {
  width: 50%;
}

.icones__Imagens {
  width: 32px;
  height: 32px;
}

.rodape {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: var(--cor-terciaria);
  padding: 24px;
  text-align: center;
  font-size: 1.5rem;
}

.rodape__item {
  color: var(--cor-background);
}

.estilo__Nome {
  color: var(--cor-texto);
}

@media (max-width: 1400px) {
  .cabecalho__lista {
    padding: 4% 0;
    width: 100%;
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: 100%;
  }
}
